* {
  font-size: 12px;
}

.Navbar {
  width: 100%;
  height: 7vh;
  position: fixed;
}
.main-bg {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_1344,c_limit/fe8fed6e-3446-4b9e-9b07-09bffbba8bd4/%EB%82%98%EC%9D%B4%ED%82%A4-%EB%A9%A4%EB%B2%84%EC%8B%AD.jpg");
  background-position: center;
  border-radius: 50px;
  overflow: scroll;
}

#content-item {
  margin-top: 20px;
  text-align: center;
}

#Detail {
  width: 100%;
  height: 400vh;
}
.To-top {
  width: 60px;
  height: 40px;
  border: 1px solid #ccc;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  border-radius: 20px;
  font-weight: bold;
  box-shadow: #ff9966;
}
